.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 3rem;
}

.card {
  width: 150px;
  aspect-ratio: 1;
  background-color: purple;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
